
/* login */
.login{
    padding: 10px;
    margin-top: 56px;
}
.card-login{
    box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.13);
    margin-bottom: 35px;
    border-radius: 2px;
    padding: 20px;
}

.card-title-login{
    text-align: center;
    font-weight: 600;
    color: #3882F6;
}
/* akhir login */





